body
{
 text-align: center;   
 background-color: black;
    color:white;
}
p
{
   font-family: helvetica;
  color:white;   
}
button
{
    background-color:black;
   color:white;
    outline:none;
    border-style:solid;
    border-color:white;
    text-align: center;
}